---
import { Icon } from "astro-icon/components";
// import { openWeatherFetch } from "../lib/weatherAPI.server.js";
// let data = await openWeatherFetch();
// let display = data.current;
// import { oneWeather } from "../lib/mockWeatherAPI.js"; //use mock data for now
// let forecast = oneWeather.weather[0].main;
// console.log("In WeatherNav: oneWeather.weather[0].main: ", oneWeather.weather[0].main);
const { fetchedWeather, time, weather, icon } = Astro.props;

console.log("fetchedWeatherData.main.temp in WeatherNav: ", fetchedWeather);
---


<nav>
    <ul>
        <li>
            <a href="/about">about</a>
        </li>
        <li>
            <p>{fetchedWeather.weatherType}</p>
            <p>K: {fetchedWeather.temp.k}</p>
            <p>C: {fetchedWeather.temp.c}</p>
            <p>F: {fetchedWeather.temp.f}</p>
            <p>time calc: {time}</p>
            <p>weather calc: {weather}</p>
        </li>
        <li>
            <Icon name="mdi:weather-night-partly-cloudy" class="nav-weather-icon" />
        </li>
        <li>
            <Icon name={icon} class="nav-weather-icon" />
        </li>
    </ul>

</nav>

<style>
    ul {
        display: flex;
        align-items: start;
        gap: 3ch;
    }

    li {
        list-style: none;
    }
</style>